@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
/* @import '@fontsource-variable/dm-sans'; */

@font-face {
  font-family: 'AppleGaramondLight';
  src: url('./assets/fonts/AppleGaramond-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "DM Sans", sans-serif;
}

/* body {
  font-family: 'DM Sans Variable', sans-serif;
} */